@model ToDoListApp.Models.TodoItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TodoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <p style=" color : blue ">Multiple items with the same name are accepted as IDs differ</p>
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
              
            <div class="form-group">
               
                <label asp-for="Category" class="control-label"></label>
                <td>
@Html.DropDownList("Category", new List<SelectListItem>
{
   new SelectListItem{ Text="Vegetable", Value = "Vegetable" },
   new SelectListItem{ Text="Fruit", Value = "Fruit" },
   new SelectListItem{ Text="Meat", Value = "Meat" },
   new SelectListItem{ Text="Cheese", Value = "Cheese" },
   new SelectListItem{ Text="Dairy", Value = "Dairy" },
   new SelectListItem{ Text="Baked", Value = "Baked" },
   new SelectListItem{ Text="Spices", Value = "Spices" },
   new SelectListItem{ Text="Seafood", Value = "Seafood" },
   new SelectListItem{ Text="Drinks", Value = "Drinks" },
   new SelectListItem{ Text="Frozen", Value = "Frozen" },
})
</td>
                @*<input asp-for="Category" class="form-control" />*@
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class=" form-group">
                  <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type = "text " />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

