@model IEnumerable<TodoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class=" card-header">
        <h1 class="fs-2 fw-light">Track your current tasks</h1>
        <a asp-controller="Home" asp-action="Create">Create New</a>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="alert alert-secondary">
                You have no tasks in the system
            </div>
        }
        else
        {
    <ul>
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex">
                <div class="" style="margin-right: 5px">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @if (item.IsCompleted)
                            {
                                <input class="form-check-input" type="checkbox" checked /> 
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" /> 
                            }
                            
                        </label>
                    </div>
                </div>
                <div>
                    <small class="text-secondary">@item.CreatedAt.ToString("dd/MM/yyyy")</small>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color:red">Delete</a>
                    
                    <p>@item.Text</p>
                </div>
            </li>

        }
    </ul>
        }
    </div>
    
</div>
